<a href="https://colab.research.google.com/github/mkaraca25/DataScience/blob/main/PandasDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=np.random.rand(3,3)
data

array([[0.1099368 , 0.11740016, 0.81386514],
       [0.47054869, 0.19125562, 0.9564334 ],
       [0.92181198, 0.84858059, 0.24767357]])

In [3]:
dataFrame=pd.DataFrame(data)
dataFrame

          0         1         2
0  0.109937  0.117400  0.813865
1  0.470549  0.191256  0.956433
2  0.921812  0.848581  0.247674

In [4]:
dataFrame[0]

0    0.109937
1    0.470549
2    0.921812
Name: 0, dtype: float64

In [5]:
type(dataFrame[0])

pandas.core.series.Series

In [6]:
yeniDataFrame=pd.DataFrame(data,index=["Ali","Zeynep","Mayk"],columns=["Maas","Yas","Calisma saati"])
yeniDataFrame

            Maas       Yas  Calisma saati
Ali     0.109937  0.117400       0.813865
Zeynep  0.470549  0.191256       0.956433
Mayk    0.921812  0.848581       0.247674

In [7]:
yeniDataFrame["Yas"]

Ali       0.117400
Zeynep    0.191256
Mayk      0.848581
Name: Yas, dtype: float64

In [8]:
yeniDataFrame[["Maas","Yas"]]

            Maas       Yas
Ali     0.109937  0.117400
Zeynep  0.470549  0.191256
Mayk    0.921812  0.848581

In [9]:
yeniDataFrame.loc["Mayk"]

Maas             0.921812
Yas              0.848581
Calisma saati    0.247674
Name: Mayk, dtype: float64

In [10]:
yeniDataFrame.iloc[1]

Maas             0.470549
Yas              0.191256
Calisma saati    0.956433
Name: Zeynep, dtype: float64

In [11]:
yeniDataFrame["Emeklilik yasi"]=yeniDataFrame["Yas"]+yeniDataFrame["Yas"]

In [12]:
yeniDataFrame.drop("Emeklilik yasi",axis=1)

            Maas       Yas  Calisma saati
Ali     0.109937  0.117400       0.813865
Zeynep  0.470549  0.191256       0.956433
Mayk    0.921812  0.848581       0.247674

In [13]:
yeniDataFrame.drop("Ali",axis=0)

            Maas       Yas  Calisma saati  Emeklilik yasi
Zeynep  0.470549  0.191256       0.956433        0.382511
Mayk    0.921812  0.848581       0.247674        1.697161

In [14]:
yeniDataFrame

            Maas       Yas  Calisma saati  Emeklilik yasi
Ali     0.109937  0.117400       0.813865        0.234800
Zeynep  0.470549  0.191256       0.956433        0.382511
Mayk    0.921812  0.848581       0.247674        1.697161

In [15]:
yeniDataFrame.drop("Emeklilik yasi",axis=1,inplace=True)

In [16]:
yeniDataFrame

            Maas       Yas  Calisma saati
Ali     0.109937  0.117400       0.813865
Zeynep  0.470549  0.191256       0.956433
Mayk    0.921812  0.848581       0.247674

In [17]:
yeniDataFrame.loc["Mayk"]["Yas"]

0.8485805917173564

In [18]:
yeniDataFrame.loc["Mayk","Yas"]

0.8485805917173564

In [19]:
yeniDataFrame

            Maas       Yas  Calisma saati
Ali     0.109937  0.117400       0.813865
Zeynep  0.470549  0.191256       0.956433
Mayk    0.921812  0.848581       0.247674

In [20]:
yeniDataFrame<0.20

         Maas    Yas  Calisma saati
Ali      True   True          False
Zeynep  False   True          False
Mayk    False  False          False

In [21]:
yeniDataFrame>0.20

         Maas    Yas  Calisma saati
Ali     False  False           True
Zeynep   True  False           True
Mayk     True   True           True

In [22]:
yeniDataFrame[yeniDataFrame<0.20]

            Maas       Yas  Calisma saati
Ali     0.109937  0.117400            NaN
Zeynep       NaN  0.191256            NaN
Mayk         NaN       NaN            NaN

In [24]:
yeniDataFrame[yeniDataFrame["Yas"]>0.20]

          Maas       Yas  Calisma saati
Mayk  0.921812  0.848581       0.247674

In [25]:
ilkIndeksler=["Simpson","Simpson","Simpson","South Park","South Park","South Park"]

In [27]:
icIndeksler=["Homer","Bart","Marge","Cartman","Kenny","Kyle"]

In [35]:
birlesmeIndeks=list(zip(ilkIndeksler,icIndeksler))
birlesmeIndeks=pd.MultiIndex.from_tuples(birlesmeIndeks)
birlesmeIndeks

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [36]:
BenimCizgiFilmListem=[[40,"A"],[10,"B"],[30,"C"],[9,"D"],[10,"E"],[11,"F"]]

In [37]:
CizgiFilmNumpyDizisi=np.array(BenimCizgiFilmListem)

In [40]:
CizgiFilmDataframe=pd.DataFrame(CizgiFilmNumpyDizisi,index=birlesmeIndeks,columns=["Yas","Meslek"])
CizgiFilmDataframe

                   Yas Meslek
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F

In [42]:
CizgiFilmDataframe.loc["Simpson"]

      Yas Meslek
Homer  40      A
Bart   10      B
Marge  30      C

In [45]:
CizgiFilmDataframe.index.names=["Film adi","Isim"]
CizgiFilmDataframe

                   Yas Meslek
Film adi   Isim
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F

In [50]:
havaDurumuD=pd.DataFrame({"Istanbul":[30,29,np.nan],"Ankara":[20,np.nan,25],"Izmir":[40,39,38]})
havaDurumuD

   Istanbul  Ankara  Izmir
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     38

In [51]:
havaDurumuD.dropna(axis=1)

   Izmir
0     40
1     39
2     38

In [52]:
havaDurumuD1=pd.DataFrame({"Istanbul":[30,29,np.nan],"Ankara":[20,np.nan,25],"Izmir":[40,39,38],"Antalya":[45,np.nan,np.nan,]})
havaDurumuD1

   Istanbul  Ankara  Izmir  Antalya
0      30.0    20.0     40     45.0
1      29.0     NaN     39      NaN
2       NaN    25.0     38      NaN

In [53]:
havaDurumuD1.dropna(axis=1,thresh=2)

   Istanbul  Ankara  Izmir
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     38

In [55]:
havaDurumuD1.fillna(25) #NaN==25

   Istanbul  Ankara  Izmir  Antalya
0      30.0    20.0     40     45.0
1      29.0    25.0     39     25.0
2      25.0    25.0     38     25.0

**GroupBy**

In [58]:
maasSozlugu=pd.DataFrame({"Departman":["Yazilim","Yazilim","Pazarlama","Pazarlama","Hukuk","Hukuk"],
                          "Calisan Ismi":["Mayk","Ahmet","Mehmet","Burak","Fatih","Ali"],
                          "Maas":[100,150,200,300,400,500]})
maasDtaFrame=pd.DataFrame(maasSozlugu)
maasDtaFrame

   Departman Calisan Ismi  Maas
0    Yazilim         Mayk   100
1    Yazilim        Ahmet   150
2  Pazarlama       Mehmet   200
3  Pazarlama        Burak   300
4      Hukuk        Fatih   400
5      Hukuk          Ali   500

In [60]:
grupObjesi=maasDtaFrame.groupby("Departman")

In [61]:
grupObjesi.count()

           Calisan Ismi  Maas
Departman
Hukuk                 2     2
Pazarlama             2     2
Yazilim               2     2

In [62]:
grupObjesi.mean()

           Maas
Departman
Hukuk       450
Pazarlama   250
Yazilim     125

In [63]:
grupObjesi.describe()

           Maas
          count   mean        std    min    25%    50%    75%    max
Departman
Hukuk       2.0  450.0  70.710678  400.0  425.0  450.0  475.0  500.0
Pazarlama   2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0
Yazilim     2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0

**Concatenation**

In [70]:
Sozluk1={"Isim":["Ahmet","Mehmet","Zeynep","Atil"],
         "Spor":["Kosu","Yuzme","Kosu","Basketbol"],
         "Kalori":[100,200,300,400]}
dataFrame1=pd.DataFrame(Sozluk1,index=[0,1,2,3])
dataFrame1

     Isim       Spor  Kalori
0   Ahmet       Kosu     100
1  Mehmet      Yuzme     200
2  Zeynep       Kosu     300
3    Atil  Basketbol     400

In [71]:
Sozluk2={"Isim":["Osman","Levent","Atlas","Fatma"],
         "Spor":["Kosu","Yuzme","Kosu","Futbol"],
         "Kalori":[100,200,250,350]}
dataFrame2=pd.DataFrame(Sozluk2,index=[4,5,6,7])
dataFrame2

     Isim    Spor  Kalori
4   Osman    Kosu     100
5  Levent   Yuzme     200
6   Atlas    Kosu     250
7   Fatma  Futbol     350

In [72]:
Sozluk3={"Isim":["Ayse","Mahmut","Duygı","Nur"],
         "Spor":["Kosu","Yuzme","Badminton","Tenis"],
         "Kalori":[400,500,100,200]}
dataFrame3=pd.DataFrame(Sozluk3,index=[8,9,10,11])
dataFrame3

      Isim       Spor  Kalori
8     Ayse       Kosu     400
9   Mahmut      Yuzme     500
10   Duygı  Badminton     100
11     Nur      Tenis     200

In [77]:
BirlestirmeDataFrame=pd.concat([dataFrame1,dataFrame2,dataFrame3],axis=0)
BirlestirmeDataFrame

      Isim       Spor  Kalori
0    Ahmet       Kosu     100
1   Mehmet      Yuzme     200
2   Zeynep       Kosu     300
3     Atil  Basketbol     400
4    Osman       Kosu     100
5   Levent      Yuzme     200
6    Atlas       Kosu     250
7    Fatma     Futbol     350
8     Ayse       Kosu     400
9   Mahmut      Yuzme     500
10   Duygı  Badminton     100
11     Nur      Tenis     200

Merge

In [88]:
Sozluk4={"Isim":["Ayse","Mahmut","Duygu","Nur"],
         "Spor":["Kosu","Yuzme","Badminton","Tenis"]}
dataFrame4=pd.DataFrame(Sozluk4)
dataFrame4

     Isim       Spor
0    Ayse       Kosu
1  Mahmut      Yuzme
2   Duygu  Badminton
3     Nur      Tenis

In [89]:
Sozluk5={"Isim":["Ayse","Mahmut","Duygu","Nur"],
         "Kalori":[100,200,300,400]}
dataFrame5=pd.DataFrame(Sozluk5)
dataFrame5

     Isim  Kalori
0    Ayse     100
1  Mahmut     200
2   Duygu     300
3     Nur     400

In [90]:
MergeDataFrame=pd.merge(dataFrame4,dataFrame5,on="Isim")
MergeDataFrame

     Isim       Spor  Kalori
0    Ayse       Kosu     100
1  Mahmut      Yuzme     200
2   Duygu  Badminton     300
3     Nur      Tenis     400