<a href="https://colab.research.google.com/github/mkaraca25/DataScience/blob/main/PandasIleriOperasyonlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
maasSozlugu=pd.DataFrame({"Departman":["Yazilim","Satis","Pazarlama","Yazilim"],
                          "Calisan Ismi":["Mayk","Ahmet","Mehmet","Burak"],
                          "Maas":[200,300,400,500]})
maasDtaFrame=pd.DataFrame(maasSozlugu)
maasDtaFrame

   Departman Calisan Ismi  Maas
0    Yazilim         Mayk   200
1      Satis        Ahmet   300
2  Pazarlama       Mehmet   400
3    Yazilim        Burak   500

In [4]:
maasDtaFrame["Departman"].unique()

array(['Yazilim', 'Satis', 'Pazarlama'], dtype=object)

In [5]:
maasDtaFrame["Departman"].nunique()

3

In [9]:
maasDtaFrame["Departman"].value_counts()

Yazilim      2
Pazarlama    1
Satis        1
Name: Departman, dtype: int64

In [16]:
def bruttenNete(maas):
  return maas*0.66

maasDtaFrame["Maas"].apply(bruttenNete)

0    132.0
1    198.0
2    264.0
3    330.0
Name: Maas, dtype: float64

In [17]:
maasSozlugu.isnull()

   Departman  Calisan Ismi   Maas
0      False         False  False
1      False         False  False
2      False         False  False
3      False         False  False

In [27]:
yeniData={"Karakter":["South Part","South Part","Simpson","Simpson","Simpson"],
          "Karakter ismi":["Cartman","Kenny","Kyle","Homer","Homer"],
          "Karakter Yas":[9,12,50,20,16]}
karakterDF=pd.DataFrame(yeniData)
karakterDF.pivot_table(values="Karakter Yas",index=["Karakter","Karakter ismi"])

                          Karakter Yas
Karakter   Karakter ismi
Simpson    Homer                    18
           Kyle                     50
South Part Cartman                   9
           Kenny                    12

In [24]:
yeniData={"Karakter":["South Part","South Part","Simpson","Simpson","Simpson"],
          "Karakter ismi":["Cartman","Kenny","Kyle","Homer","Homer"],
          "Karakter Yas":[9,12,50,20,16]}
karakterDF=pd.DataFrame(yeniData)
karakterDF.pivot_table(values="Karakter Yas",index=["Karakter","Karakter ismi"],aggfunc=np.sum)

                          Karakter Yas
Karakter   Karakter ismi
Simpson    Homer                    36
           Kyle                     50
South Part Cartman                   9
           Kenny                    12